body{
	margin: 0;
}
.header{
	background-color:#669;
	height: 20px;
}
.w{
}
  .left{
	   background-color: #77cea8;
	   width:50%;
	   height:500px;
}
  .right{
	   background-color: #89678e;
	   width:50%;
	   height:500px;
}
  .footer{
       background-color: #15131b;
       height: :20px;
}